body {
  background-color: #efefef;
  font-family: 'Lato', sans-serif;
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2145fc;
  top: 0;
  left: 0;
  width: 100%;

}
.option {
  background-color: 2145fc;
  float: left;
}
.option a {
  display: block;
  color: #ffffff;
  padding: 22px 25px;
  text-decoration: none;
}
.option a:hover {
  background-color: #0d59ff;
}
.active {
  background-color: #0d59ff;
}
.partxt {
  font-size:17px;
  color: #ffffff;
  padding:35px;
  line-height:1.8;
  letter-spacing: 3px;
}
.parallax {
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.leftdiv {
float: left;
word-wrap: break-word;
padding : 1%;
color: #00008d;
background-color : #ffffff;
width : 75%;
}
.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding:10px;
  background-color:#6bb7a7;
  text-align:center;
  letter-spacing: 2px;
  color:#336a9b;
}
